<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Information Retrieval</title>
</head>
<body>
<div align="center">Football Tweet Search</div>
<form method="post">
    {% csrf_token %}
    <div align="center"><input name="searchbar" type="text"><input id="submit" type="button" value="Search"></div>
</form>

<div style="padding-left: 20%; padding-top: 100px;">
<table>
    {% if tweet_list %}
    There are {{ tweet_list|length }} records:
    <thead>
    <th>No.</th>
    <th>Tweet</th>
    </thead>
    <tbody>
        {% for e in tweet_list %}
    <tr>
        <td>{{ forloop.counter }} </td>
        <td> {{ e.text }} </td>
    </tr>
        {% endfor %}
    {% else %}
       There are no records in the system
    {% endif %}
    </tbody>
</table>
</div>

</body>
</html>